# Open or create an sqlite database

If you attempt to connect to a local database that doesn't exist, it will be created automatically.

In [2]:
import sqlite3

# open connection
connection = sqlite3.connect('classroomDB.db')
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
            CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

# Populate the table in an sqlite database

After you've created a DB and created a table, you need to populate it. This method uses a list of tuples to hold the data to be inserted, which can then be iterated over to do the inserts. Don't forget to put "" around string values in your insert statement, otherwise you'll get an error message about "there is no column named Raj", which is confusing.

In [4]:
# create sample data
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                 (2, "Poonam", "F", 87, 69, 93),
                 (3, "Nik", "M", 65, 83, 90),
                 (4, "Rahul", "F", 83, 76, 89)]
# open connection
connection = sqlite3.connect('classroomDB.db')
# open cursor
cursor = connection.cursor()
#insert each student record
for student in classroom_data:
    insert_statement = """INSERT INTO classroom
                    (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                    VALUES
                    ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], student[3],
                                                             student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit changes
connection.commit()
# close connection
connection.close()

# Extract data from an sqlite database

There is no point having a database unless you can extract data from it. The pattern is similar to that used before.

In [6]:
# open connection
connection = sqlite3.connect('classroomDB.db')
# open cursor
cursor = connection.cursor()
# query
query = """SELECT * FROM classroom;"""
# execute the query
cursor.execute(query)
# fetch the results
result = cursor.fetchall()
# print the results
for row in result:
    print(row)
# close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)

# Other databases

It's not just sqlite that Python can work with.

## MySQL

To work with MySQL, you need to install and import the pymysql package.

The connection string is a little more complex, but you can use a dictionary to hold the necessary details:

cnx = {'host': 'database host location',
    'username': 'aUserName',
    'password': 'aPassword',
    'db': 'aDatabase'}
    
connection = pymysql.connection(cnx['host]', cnx['username'], cnx['password'], cnx['db'])

After that, it's pretty much the same concepts as above for creating tables, inserting data, and extracting data.

## SQL Server

The pymssql package is used to connect to an MS SQL Server database. The connection method is very similar to MySQL:

cnx = {'host': 'database host location',
    'username': 'aUserName',
    'password': 'aPassword',
    'db': 'aDatabase'}
    
connection = pymssql.connection(cnx['host]', cnx['username'], cnx['password'], cnx['db'])

And then the rest (create, insert, extract) is the same as before.